* { margin: 0; padding: 0; }
body { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 12px; text-align:center; margin: 15px 0; }
#container { width: 95%; margin: 0 auto; text-align:left; }
h2 { margin: 0 0 5px 0; color:white; }
#left { width: 100%; float: left; margin-left: -4px; }
#right { width: 90%; float: left; }

#table th { border-top: 1px solid #CCC; border-bottom: 1px solid #ccc; color:#333; background: #eee; padding: 5px; }
#table th a { color: #333; text-decoration: none; }
#table td { padding: 4px; font-size: 17px; color: white;}
#table_search td { padding: 4px; font-size: 12px; }
#table_search th { font-weight: bold; text-align: right; padding-right: 8px; }
tr#se { border-bottom: 1px solid #CCC; color: #000; }
#se .name { font-size: 14px; font-weight: bold; }
.google { background: url(../images/google.png) no-repeat 12px 4px; }
.yahoo { background: url(../images/yahoo.png) no-repeat 12px 4px; }
.bing { background: url(../images/bing.png) no-repeat 12px 4px; }
.field { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; padding: 3px; width: 260px; border: 1px solid #CCC; font-size: 12px; }
.field:focus { border: 1px solid #999; }
.drop { float: left; width: 65%; }
#select { padding: 2px 0; width: 130px; }
.mo { float: right; text-align: right; width: 35%; } 
.orange { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; background: #F60 url(../images/orange.jpg);padding:4px 12px;border:1px solid #ae3700;font-weight: bold;cursor: pointer;color:#FFFFFF;font-size:12px; text-decoration:none;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px; }
.submit { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; background: #090 url(../images/green.gif);padding: 1px 12px;border:1px solid #063;font-weight: bold;cursor: pointer;color:#FFFFFF;font-size:12px; text-decoration:none;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px; }
.clear { clear:both; overflow: auto; width: 100% }
#footer { margin: 25px 0 40px 0; color: #999; text-transform: uppercase; font-size: 10px; }

 



  .output_canvas {

    margin-top: 80px;
    margin-bottom: 10px;
  }


  .top {

        
        margin-top: 10vh;
  }


  form {

    margin-top: 25px;
  }

  h1 {

    font-family: Helvetica;

  }

  #word1 {

    margin-left: -20px;
    color: #FF9933;
  }

  #word2 {

    color: #3399ff;
  }

  body {

    margin: 0;
    padding: 0;
    

  }

  #keyword {
    max-width: 250px;
    float: left;

  }

  input {

    box-sizing: border-box;
  }


  #btn {

    float: right;
    max-width: 130px;
    margin-left: 10px;
    background-color: #3399ff

  }

  #input_head {

    max-width: 400px;
  }


  #particles-js {

  background-color: #262626;
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:0; 
  }


  #overlay {

    position: relative;
  }

  .btn {

    background-color: #3399ff;

  }

  textarea {

    margin-top: 20px;

    width: 400px;
    height: 400px;

  }

  body {

    padding-bottom: 50px;
  }

  .output {

    margin-top: 20px;
    max-width: 400px;
    background-color: #262626;
    margin: 0 auto;
    margin-top: 20px;

  }

  .output_body_wrapper {

    position: relative;
    height: 20%;
    overflow: hidden;
    width: 100%;
    height: 65vh;


  }

  .output_body {

    width: 430px;
    height: 90%;
    overflow-y: auto;
    padding: 10px;
    
   
  }



 

  .item::after {

  font-family: FontAwesome;
  content: "\f0fe";
  color: #3399ff;
  float: right;
  padding-right: 15px;
  }

  .item {

    display: inline-block;
    width: 100%;
    text-align: left;
    padding-left: 15px;
    cursor: pointer;
    color: white;
    font-size: 18px;
  }

  .item.selected::after {
  content: "\f00c";
}

  span:hover {
  background-color: #FF9933;
  }



  .output_body {
     
      margin-top: 20px;

  }

  .output_head {

    max-width: 400px;
  }

  .input_head {

    max-width: 400px;
  }

  .output_head_right {

    float:right;
    margin-bottom: 20px;

  }

  .output_head_left {

    float: left;
  }


  #selection::before {
    font-family: FontAwesome;
    content: "\f0c9";

  }

  #copy::before {
    font-family: FontAwesome;
    content: "\f0c5";

  }

  #export::after {
    font-family: FontAwesome;
    content: "\f08e";

  }


  .active::after{

    content: "\f00c"
  }

  @media screen and (max-width: 360px) {

    #keyword {float: none;}
    #btn { float: none; margin-top: 10px; }

  }

  @media screen and (max-width: 375px) {
    #keyword { width: 240px; }
    #input_head { margin: 5px; }
    .output_head { margin: 5px; }
  }


  @media screen and (max-width: 500px) {

    #suggestions_header {

      width: 85vw;

    }

    .output_body_wrapper {

      height: 45vh; 
      width: 350px;

    }

    .item {

      width: 320px;
    }

    .output_body_content {

      width: 275px;
    }

    .top { margin-top: 5vh !important; }

  }

    @media screen and (max-width: 320px) {
    #word1 { margin: 0px; }
    .output_head_right { margin: 0px; }
    #selection { width: 105px; }

    .output_body_wrapper {

      height: 45vh; 
      width: 350px;

    }

     

    .item {

      width: 265px;

    }

  }



  .footer a {

    color: #FF9933;
    font-size: 20px;
   

  }



  /* diagram test */


  .chart {
    width: 2000px
    
  }

  svg {

  display: block;
  margin: 0 auto;
  padding-left: 125px; 
}

.node circle {
  fill: #3399ff;
  stroke: #d3d3d3;
  stroke-width: 1px;

}

.node {
  font-family: verdana, sans-serif;
  font-size: 18px;
  font-weight: normal;
  fill: white;
  
}

.link {
  fill: none;
  stroke: #787878;
  stroke-width: 1px;
}

